.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 188, 62);
  padding: 0 40px;
}

.add-icon {
  cursor: pointer;
}

.friend-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.friend {
  border: 2px dotted white;
  margin-bottom: 10px;
  width: 30%;
  margin: 20px;
}
.friend-header {
  display: flex;
  justify-content: space-between;
}
.friend h3 {
  text-decoration-line: underline;
  color: green;
  flex: 1;
  padding-left: 60px;
}
.action-icon {
  padding: 5px;
}
.action-icon img {
  margin-right: 5px;
  cursor: pointer;
}

.friend p {
  font-size: 16px;
  margin-top: 5px;
}

.friends-form {
  padding: 10px;
  background-color: lightgrey;
}

.friends-form h2 {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.friends-form form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
}

.friends-form input {
  font-size: 14px;
  margin-bottom: 5px;
  padding: 5px;
}
.friends-form button {
  font-size: 14px;
  width: 100px;
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: green;
  font-weight: bold;
  color: white;
}
.friends-form button:hover {
  background-color: rgb(255, 188, 62);

  cursor: pointer;
}
